
 richlistitem.entrymessage {
	background-color:#fff;
 }

 richlistitem[selected="true"] {
   background-color:-moz-CellHighlight;
 }

 richlistitem[selected="true"] label {
   color:-moz-CellHighlightText;
 }

 .entrymessage {
   font-weight:bold;
	color:#000;
 }
 
 .entrywarning {
   font-weight:bold;
 	color:#ec7e1f;
 }
 
 .entryerror {
   font-weight:bold;
 	color:#ff0000;
 }
 
 richlistitem.entryfatal {
	background-color:#ff0000;
 }
 
.entryfatal {
   font-weight:bold;
 	color:#ffffff;
 }
 
 richlistitem.entrytimer {
   color:#000;
   background-color:#cccccc;
 }

 richlistitem.entrytimer[selected="true"] {
   background-color:-moz-CellHighlight;
 }
 richlistitem.entrytimer[selected="true"] label {
   color:-moz-CellHighlightText;
 }
 